.loading {
  background: #FAFAFA;
  height: 40%;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 100%;
}

.loading p {
  color: #023031;
  font-family: 'Epilogue';
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 65px;
  letter-spacing: 0.02em;
  position: absolute;
}