.loading {
  background: #fafafa;
  height: 40%;
  position: absolute;
  top: 20px;
  width: 100%;
}

.loading p {
  color: #023031;
  font-family: Epilogue , Helvetica , Arial , Verdana , Tahoma , sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 65px;
  position: absolute;
}
